@{
    ViewData["Title"] = "Another tab";
}
<h1>@ViewData["Title"]</h1>

<h2>Popular Pets</h2>
<p>Here are som pets you could think about :p</p>
<ul>
    <li>Dog</li>
    <li>Cat</li>
    <li>Fish</li>
    <li>Bird</li>
    <li>Hamster</li>
    <li>Rabbit</li>
    <li>Turtle</li>
    <li>Guinea Pig</li>
    <li>Snake</li>
    <li>Lizard</li>
</ul>